name: stylebot
on:
  push:
    branches:
      - master
concurrency:
  group: "stylebot"
  cancel-in-progress: true
permissions:
  id-token: write
  contents: write
  packages: write
  pull-requests: write
jobs:
  fix:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - id: nodeversion
        run: echo "version=$(grep nodejs .tool-versions | sed -e 's/[^[:space:]]*[[:space:]]*//')" >> $GITHUB_OUTPUT
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ steps.nodeversion.outputs.version }}
          cache: yarn
      - run: yarn install --immutable
      - run: |
          echo 'SOLHINT_RESULTS<<EOF' >> ${GITHUB_ENV}
          yarn lint:fix >> ${GITHUB_ENV} || true
          echo 'EOF' >> ${GITHUB_ENV}
      - run: |
          echo 'PRETTIER_RESULTS<<EOF' >> ${GITHUB_ENV}
          yarn format >> ${GITHUB_ENV}
          echo 'EOF' >> ${GITHUB_ENV}
      # Make PR from local changes.
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "[stylebot] Fixes for code style"
          branch: stylebot/patch
          title: "[stylebot] Fixes for code style"
          body: |
            Stylebot detected automatically fix-able code style issues.

            <details><summary>`yarn lint:fix`</summary>

            ```
            ${{ env.SOLHINT_RESULTS }}
            ```

            </details>

            <details><summary>`yarn format`</summary>

            ```
            ${{ env.PRETTIER_RESULTS }}
            ```

            </details>
